@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");

.banner_wrapper {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 50vh;
}

.shop_heading {
  position: relative;
  font-size: 3.5vmax;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  padding: 0px;
  margin: 0px;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  opacity: 1;
}

.patistry_heading {
  min-height: 0px;
  font-family: "Allura", cursive;
  font-size: 5.5vmax;
  font-weight: 550;
  color: rgb(185, 205, 50);
}

.banner_wrapper > hr {
  position: relative;
  height: none;
  top: -10%;
  border: 1px solid white;
  min-width: 90px;
}

.sub_heading {
  font-size: 1.5vmax;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
}

.span_text {
  position: relative;
  color: white;
  left: 44%;
}

.discover_button {
  font-size: 1vmax;
  color: white;
  font-weight: 400;
  background-color: rgb(185, 205, 50);
  border-color: rgba(0, 0, 0, 0);
  border-radius: 30px;
  padding: 14px 35px;
  min-height: 0px;
  min-width: 0px;
  max-height: none;
  max-width: none;
  outline: none;
}
