@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
.reservation_heading_wrapper {
  display: flex;
  align-items: center;
  position: relative;
  right: -22%;
  top: 6%;
}

.heading_1 {
  font-family: "Lato", sans-serif;
  color: #555555;
  margin-right: 10px;
  font-size: 3.4em;
  font-weight: normal;
}

.heading_2 {
  position: relative;
  font-family: "Allura", cursive;
  font-weight: 550;
  font-size: 6em;
  color: rgb(185, 205, 50);
  min-height: 0px;
}

.reserve_sub_heading {
  position: relative;
  color: #555555;
  font-size: 1.3em;
  top: 8%;
  right: -30%;
}
